.wrapper {
  display: grid;
}

.header {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border-style: solid;
}

.title {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
}

.buttons {
  display: grid;
  grid-column-start: 6;
  grid-column-end: 7;
}

.add-to-cart-button {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main-page-button {
  grid-column-start: 2;
  grid-column-end: 3;
}
