/* Nav Bar*/
h1{
    text-align: center;
    
}

h2{
    
    text-align: center;
    margin-bottom: 2em;
    margin-left: 0rem;
    font-family: monospace;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    font-family: monospace;

}

nav{
    flex: 1;
    text-align: right;
    
    
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;

}
a{ 
    text-decoration: none;
    color: black;
}

p{
    color: black;
}

/*----Cart page setup--------*/

.cart-page {
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

id input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: black;
    font-size: 12px;

}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: white;
    background: rosybrown;
    font-weight: normal;
}

td{
    padding: 20px 5px;
}

td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td image{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price table{
    border-top: 3px solid black;
    width: 100%;
    max-width: 300px;
}
td:last-child{
    text-align: right;
}

th:last-child{
    text-align: right;
}

/* Footer items*/

.footer{
    background: rosybrown;
    color: white;
    font-size: 14px;
    padding: 60px 0 20px;
}